section[data-testid="stSidebar"] div.stButton button {
    background-color: brown;
    width: 200px;
}

.st-emotion-cache-19rxjzo{
    background-color: brown;
    width: 310px;
    right: 200px;
    padding: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.st-emotion-cache-1cypcdb{
    max-width: 300px
}

